[2016-07-08 13:35] hhrayr opened #1 ""The header content contains invalid characters" error is being thrown"
Hi,
In my start.js I have:
require('babel-core/register');
require('instana-nodejs-sensor')({
  level: 'warn',
});
module.exports = require('./server');

and the following error is being thrown when I run the server:

![screenshot from 2016-07-08 15-34-46](https://cloud.githubusercontent.com/assets/6941642/16689089/95641eda-4521-11e6-8672-a7396820ad12.png)

[2016-07-14 07:58] bripkens commented on #1
Hi @hhrayr,

I invited you to our Slack channel in order to analyze this issue. Did you get the invitation?

[2017-04-07 10:29] #1 closed

[2017-04-07 10:30] bripkens commented on #1
Closing due to inactivity. A change was applied in order to make sure that this does not kill the application. Further investigation would be necessary in order to find out why this invalid url was used.

[2017-05-29 11:29] longseespace opened #8 "Can't enable tracing."
Can't get `tracing` feature working. Error message:

[code]

I can see `async-hook` is declared as _optional dependency_. Should I have to change my build scripts? Please help.

[2017-05-30 07:08] bripkens commented on #8
@longseespace: `async-hook` needs to be installed in order to use tracing. It is marked as optional as metric gathering is supported without `async-hook`.

[2017-05-30 07:17] longseespace commented on #8
Thanks, @bripkens. I manually installed `async-hook` and tracing was enabled successfully. I can see `event-loop-stats`, `gcstats.js` and `v8-profiler` are also in `optionalDependencies`. Do I have to install them as well? Also, how can I have `health-check` enabled?

[2017-05-30 07:22] bripkens commented on #8
@longseespace: You can install those to get a few more features, i.e. event loop and garbage collection statistics as well as CPU profiling support. NPM / yarn should automatically install these dependencies. Why do you have do add them manually?

Health checks are automatically recognized when your application is using [admin](https://www.npmjs.com/package/admin) in combination with [admin-plugin

[2017-05-31 03:45] longseespace commented on #8
Oh sorry, my bad. Only `async-hook` not being installed automatically. The rest are working fine. Thanks. I'm closing this issue now

[2017-05-31 03:45] #8 closed

[2017-07-11 21:40] soickm opened #9 "Build essentials on centos/redhat"
Can you please add "sudo yum groupinstall 'Development Tools' as instructions to add support for event loop monitoring on centos/rhel?

[2017-07-12 05:15] #9 closed

[2017-07-12 05:15] bripkens commented on #9
Done via https://github.com/instana/nodejs-sensor/commit/fb75a8930285106b77fc789c29ce03f2cc4c8b53

[2017-11-17 07:30] bripkens opened #15 "process cmdline can be changed"
Changing the `process.title` ([1]) results in failing agent announce because the process title is cached in [2]. We should read the file on every agent announce to support this.

[1] https://nodejs.org/api/process.html#process_process_title
[2] https://github.com/instana/nodejs-sensor/blob/master/src/cmdline.js

[2017-11-17 14:48] pglombardo opened #18 "MongoDB instrumentation tests fail intermittently"
A re-run of the test will usually fix but there is some inconsistency that exists after the recent CLS changes.

Need to investigate: https://travis-ci.org/instana/nodejs-sensor/jobs/303463058

[2017-11-20 19:03] bripkens opened #19 "v8 profiler binaries can no longer be downloaded"
See https://github.com/node-inspector/v8-profiler/issues/117

[2017-11-30 15:36] jhorowitz opened #21 "Typescript"
Would it be possible to convert this codebase to typescript? I'd be happy to do the heavy lifting and make a pull request. It'd allow type safety and also make the codebase easier to reason about / introspect.

[2017-11-30 16:40] bripkens commented on #21
Converting it to TypeScript sounds like a useful change, though not a necessary one (it is not a Instana priority at all). Additionally, it is a type of change which would require a lot of thorough testing.

I am interested, why would you do this? AFAIK you are not an Instana user and doing this is a ton of work. What is in it for you?  Considering your GitHub profile description, the only possibl

[2017-12-04 14:07] jhorowitz commented on #21
Sorry about the delay. My github notifications have been weird lately.

Ahaha. My github needs some updating. I'm currently working at a company that's auditing Instana as a potential solution but we've been having a few technical issues. I figured lending coding support was the fastest way to come to a solution.

[2017-12-04 14:14] bripkens commented on #21
If you have some technical issues, then the best way to approach this would be to open a ticket for these issues. Because that way, we might be able to find a direct solution to your problem, instead of a large refactoring, which may or may not solve your issue.

You can open a ticket on [1].

[1] https://support.instana.com/hc/en-us/requests/new

[2017-12-04 14:16] jhorowitz commented on #21
That's fair. I already opened a ticket but was told this would probably not be solved within my timeline. I figured that was probably because of limited engineering bandwidth.

[2017-12-12 02:13] trashhalo opened #22 "Support mysql2 instrumentation"
Sequelize 4 which some of our systems are using has moved from mysql to mysql2

https://github.com/sidorares/node-mysql2
https://github.com/sequelize/sequelize/pull/6354

Its api compatible with the mysql npm package so I think to support it all you would need to do is add
`requireHook.on('mysql2', instrument);` below the following line.

https://github.com/instana/nodejs-sensor/blob/master/src/tr

[2017-12-17 19:40] Tapppi opened #24 "Support node-rdkafka"
Hey,

The best supported and highest performing node kafka library at the moment seems to be https://github.com/Blizzard/node-rdkafka. Any chance we could get support for it in this sensor? I might look at doing it myself, any pointers to get started?

[2017-12-18 07:42] bripkens commented on #24
Hey @Tapppi,

supporting node-rdkafka sounds like a good plan. Instrumenting libraries is mostly straightforward. You could take a look at the existing kafka instrumentation [1] as well as the integration tests [2]. Looking forward to your contribution! ❤️

[1] https://github.com/instana/nodejs-sensor/blob/master/src/tracing/instrumentation/kafka.js
[2] https://github.com/instana/nodejs-sensor/blo

[2017-12-18 08:54] steveww opened #25 "Support MongoDB tracing"
const mongodb = require('mongodb');

Span should be automatically created for calls to MongoDB.

[2017-12-21 07:32] #22 closed

[2018-01-22 15:31] schmod opened #30 "ioredis support"
Would it be possible to add support for [ioredis](https://github.com/luin/ioredis) instrumentation in addition to the recently-added support for [node_redis](https://github.com/NodeRedis/node_redis)?

[2018-01-22 18:09] bripkens commented on #30
Hey @schmod ✋,

ioredis support is possible. It even seems as if it follows a similar implementation. Do you want to give building an instrumentation a try?

Cheers!

[2018-01-25 23:09] schmod opened #33 "HTTPS client tracing"
Is there support for tracing outgoing HTTPS requests on the roadmap?

[2018-01-26 14:11] #30 closed

[2018-01-26 14:20] bripkens commented on #33
Are you referring to execution of HTTP requests via the `https` module? So that would be `require('https').request(…)`? I think this was just an oversight possibly based on the assumption that `https.request` just delegates to `http.request` (which it doesn't in Node.js/master).

Implementation for this will most likely be simple, but I don't have time to take care of the tests right now. I can tr

[2018-01-26 14:27] schmod commented on #33
Yep.  Thanks for offering to take a look!

[2018-01-31 09:09] bripkens commented on #30
ioredis support is now released @schmod in `1.33.0`. Sorry for the delay!

[2018-01-31 16:02] schmod commented on #30
Many thanks!

[2018-01-31 16:12] schmod opened #35 "Capture Express route path"
It would be nice if Express (http server) spans could include information about the route path so I can use that path (instead of the "raw" URL) to view traces in the Instana GUI.

For example, Instana currently captures requests that look like `/people/1234`, and I need to manually configure Endpoints in the Instana GUI for every parameterized route in all of my applications.

Instead, I'd like f

[2018-01-31 16:50] bripkens commented on #35
This is one of the ideas that we are currently preparing internally for automatic endpoint identification. I am not yet sure though how we could respect and correctly report on nested routers and middlewares in these scenarios. Do you have an idea how this could be done?

[2018-02-23 10:55] pglombardo opened #38 "Redis: Send db KV"
For endpoint labeling rules, there is some effort required to unify the K/Vs that instrumentation reports across languages.

The Node Redis instrumentation should be updated to send a `db` K/V.  This is the numerical number for the database the operation is taking place on.

[2018-02-23 11:11] pglombardo commented on #38
The existing situation:

<img width="1168" alt="schermata 2018-02-23 alle 12 09 52" src="https://user-images.githubusercontent.com/395132/36591502-86242122-1892-11e8-8e59-9a93b21120a4.png">
<img width="758" alt="schermata 2018-02-23 alle 12 09 45" src="https://user-images.githubusercontent.com/395132/36591503-86760ea6-1892-11e8-9d42-9286553432b7.png">

[2018-03-28 20:35] cjihrig opened #47 "Proposal: drop v8-profiler dependency"
`v8-profiler` appears to be unmaintained, and it triggers nsp vulnerabilities via:

[code]

We've been adding nsp exceptions on our repos like [this](https://github.com/joyent/webconsole-instances/blob/master/app/.nsprc), but it's far from ideal.

Furthermore, it appears that `v8-profiler` is unnecessary on the newest versions of Node due to the [`inspector`](https://nodejs.org/api/inspector.html)

[2018-04-03 09:32] bripkens commented on #47
Hi @cjihrig,

instead of removing it, we migrated to `@risingstack/v8-profiler`. This has the additional benefit of making proper use of `node-pre-gyp`. The version without security vulnerabilities is released as `1.37.1`.

Cheers,

/ben

[2018-04-03 09:32] #47 closed

[2018-04-12 14:01] pglombardo commented on #33
This was added and released in 1.30.2: https://github.com/instana/nodejs-sensor/blob/master/CHANGELOG.md#1302

[2018-04-12 15:30] schmod commented on #33
The change in 1.30.2 was for HTTP servers; not clients.

[2018-04-13 08:43] pglombardo commented on #33
Doh you're right.  Thanks for pointing out.  I glanced too quickly at this.

[2018-04-18 21:49] jbrisbin opened #49 "Support REFERENCE_FOLLOWS_FROM"
We should support [follows_from](https://github.com/opentracing/opentracing-javascript/blob/master/src/constants.ts#L64) references as well as `child_of`.

[2018-05-15 12:16] pglombardo commented on #38
It's been determined that this isn't immediately required for Redis.  We'll revisit if this changes.

[2018-05-15 12:16] #38 closed

[2018-07-16 14:45] bripkens commented on #35
This landed in `1.43.0` 🍾

[2018-07-16 14:45] #35 closed

[2018-07-19 21:05] #33 closed

[2018-09-25 13:00] ingo-eichhorst commented on #19
The problem seams be recurring:

´npm install instana-nodejs-sensor´ and
´npm install v8-profiler´ fails

os: MacOS 10.13.6
instana-nodejs-sensor: 1.48.1

lead to (note: replaced absolute urls with ...):
[code]

[2018-09-25 15:14] basti1302 commented on #19
Hi Ingo,

please note that `@risingstack/v8-profiler` is an optional dependency of the `instana-nodejs-sensor`, so even if it can be neither downloaded nor compiled via `node-gyp` (as is currently the status-quo for Node 10, unfortunately), the `instana-nodejs-sensor` package will actually install and work just fine. You will not be able to gather CPU profiles, but everything else will work as exp

[2018-09-25 15:15] #19 closed

[2018-09-25 15:16] basti1302 commented on #21
Closing this. There will be no conversion to TS in the foreseeable future.

[2018-09-25 15:16] #21 closed

[2018-09-25 15:17] basti1302 commented on #24
Since we never heard back from Tapppi, I'll close this for now.

[2018-09-25 15:17] #24 closed

[2018-09-25 16:00] ahtik commented on #19
CPU profiling is still a good feature of Instana and would be nice to see them supported with Node 10.

[2018-09-25 16:12] ahtik opened #83 "Uncaught exception reporting not available with Alpine based docker images"
After upgrading instana nodejs sensor to anything after 0.45, Alpine latest official Docker image fails to build the optional nodejs-sensor dependency "netlinkwrapper" and thereby Instana uncaught exception reporting feature gets disabled.

See the Dockerfiles below for a reference. Not sure if there's an easy fix to this build issue or should we assume the uncaught error reporting might stop with

[2018-09-26 06:35] basti1302 commented on #83
Hi ahtik,

the feature uncaught exception reporting was only introduced in 1.46, there was no such feature in versions < 1.46. So your question

is a bit misleading, there is no feature that will stop working in 1.46.

Btw, reporting uncaught exceptions is a disabled by default anyway for reasons outlined here:
https://github.com/instana/nodejs-sensor/blob/master/CONFIGURATION.md#reporting-uncaugh

[2018-09-26 08:48] ahtik commented on #83
Hi @basti1302 Thank you very much for the fast feedback on this. This feature and build error is probably indeed less relevant today as it was recently introduced anyway.

The other build issue that was introduced with the upgrade to Node 10 and prevents cpu profiling (risingstack/v8-profiler) is possibly more relevant, I'm not yet sure how big of an effect this has on the global Instana feature-s

[2018-09-26 09:30] basti1302 commented on #83
Yes, I am aware of the issue around v8-profiler with Node 10. I'll look into that.

[2018-09-26 09:30] basti1302 commented on #83
I changed the title of this one to better reflect the issue at hand.

[2018-09-27 09:50] basti1302 commented on #83
Good news: Both CPU profiling for Node.js 10 and the uncaught exception reporting fix for Alpine were quick wins/relatively easy fixes. Version 1.49.0 has fixes for both.

[2018-09-27 09:50] #83 closed

[2018-09-27 09:52] basti1302 commented on #19
FWIW, we replaced the v8-profiler package with profiler bindings that work across all versions, including Node 10, so this should no longer be an issue.

[2018-09-27 10:41] ahtik commented on #83
Wonderful, thank you! Confirmed, both build issues fixed with the Node 10 Alpine, sensor v1.49.0.

[2018-10-15 23:27] jonathansamines opened #90 "Decorate errors with non-enumerable properties"
When this library is enabled, seems like **http errors** gets decorated with the current request information if available.

See:
+ https://github.com/instana/nodejs-sensor/blob/master/src/tracing/clsHooked/context.js#L110
+ https://github.com/instana/nodejs-sensor/blob/master/src/tracing/clsHooked/context.js#L161
+ https://github.com/instana/nodejs-sensor/blob/master/src/tracing/clsHooked/context.

[2018-10-17 08:34] #90 closed

[2018-10-17 14:15] jonathansamines commented on #90
@basti1302 Thanks for the quick response. Will give the new version a try.

[2018-10-19 13:42] aldafu opened #92 "Configure Host on Kubernetes"
When having the agent deployed through Helm (as described here:
https://github.com/instana/instana-helm-chart) what's the best way to configure the `agentHost` setting? The default `localhost` won't do since that is local to the pod and the agent is running in a different pod on the same node.

[2018-10-23 09:51] aldafu commented on #92
After a while the sensor will switch from `unannounced` to `announced` and then it works.

[2018-10-23 09:51] #92 closed

[2018-10-25 07:50] basti1302 commented on #92
Sorry, I didn't see this in time. Seems you have already been able to figure it out. Please use https://support.instana.com/hc/en-us/requests/new to file a support requests in the future, thanks.

[2018-11-28 17:38] amirilovic opened #106 "Node 10 docker build gyp ERR!"
Hi,

I'm trying to build docket container with following Dockerfile:

[code]
I'm seeing a lot of gyp ERR in output
[code]

I tried with node:10.6 version mentioned in dockerfile-examples, but still I get gyp ERR!:
[code]

The only version that worked without any gyp ERR is node:8, but would really like to use node 10 if possible. Any suggestions how to get it to work with node 10?

[2018-11-29 12:44] basti1302 commented on #106
Hi @amirilovic,

the errors all come from trying to build `@risingstack/v8-profiler@5.7.11` which is not compatible with Node.js 10. Therefore I [replaced it](https://github.com/instana/nodejs-sensor/commit/4a0ad7ec5a33d8400f5c3c8809567df6b805eb01) with another profiler binding: `v8-profiler-node8`, which, despite the name, is compatible with Node.js 10 and actively maintained.

That your npm inst

[2018-11-29 12:44] #106 closed

[2018-12-06 13:28] ahtik opened #107 "Support for Custom Spans"
I'm excited to read about PHP support for more granular tracing at https://www.instana.com/blog/illuminate-critical-php-code-with-custom-spans/ and tried to find out how to set it up for the nodejs sensor.

Is this kind of use possible with an Instana NodeJS sensor? I did try to look up from the code and docs but failed to find a reference.

[2018-12-12 10:15] basti1302 commented on #107
Hi ahtik,

currently this is not supported in Node.js. We have support for OpenTracing (https://github.com/instana/nodejs-sensor#opentracing) but OpenTracing spans can never be combined with spans created by out automatic tracing capabilities, so our OpenTracing support will not give you the same functionality as described in the PHP blog post.

If you would like to see that functionality added to

[2018-12-12 10:15] #107 closed

[2019-01-09 13:40] BeiNacht opened #115 "it's not possible to bundle instana with webpack"
Hi, it's not possible to bundle instana nodejs sensor with webpack.
`Cannot find module './instrumentation/control_flow/bluebird'`

https://github.com/instana/nodejs-sensor/blob/master/src/tracing/index.js

Webpack has tough problems with this kind of dynamic module loading

[2019-01-09 14:52] basti1302 commented on #115
Hi there,

very true, it is not possible to bundle Instana with Webpack and it also wouldn't make any sense at all :-)

This npm package `instana-nodejs-sensor` is (as the name suggests) strictly intended to monitor **Node.js** server components. It is not meant to monitor client side JavaScript running in the browser. Check out https://docs.instana.io/products/website_monitoring/#installation to

[2019-01-09 14:52] #115 closed

[2019-01-17 18:33] teijo opened #119 "Logger infers Pino as Bunyan due to shared prototype (.child() method)"
Hi,

I tried to use [Pino logger](https://github.com/pinojs/pino) with the 1.60.0 version of the package and noticed that `src/logger.js` gets into conflict with it. On the following lines, logger tries to determine whether Bunyan logger or another logger is provided based on existence of `.child()` method.

https://github.com/instana/nodejs-sensor/blob/9e224cbce35837a34b147c5de886c5d54fc4ce56/src

[2019-01-18 10:16] basti1302 commented on #119
Hi,

thanks for the report. I'll take care of it.

Kind regards

  Bastian

[2019-01-18 14:03] #119 closed

[2019-01-18 14:06] basti1302 commented on #119
A fix has been published with 1.60.1. Thanks again for the detailed report 👍

[2019-03-13 08:25] akoufatzis opened #125 "Issue with sequelize and instana"
Hello, I use Postgres and instana. I have the following issue: [https://github.com/sequelize/sequelize/issues/10521](https://github.com/sequelize/sequelize/issues/10521) but I found out that it is related to instana because if I disable tracing everything works fine. I also observed that I hit the connection limit and it seems that every sequelize query that is instrumented by instana opens a new

[2019-03-15 09:53] basti1302 commented on #125
Hi,

no, it is not possible to only disable only a single intrumentation. I'll look into this.

Thanks for the report.

[2019-03-15 14:23] akoufatzis commented on #125
Thanks for looking at it. I could add the ability to disable only a single instrumentation if you want and open a PR.

[2019-03-18 08:43] basti1302 commented on #125
Hi,

I'm not entirely sure if I this _should_ be a feature that this package offers. Under normal circumstances, it should just not be needed. Although I agree that it would come in very handy in situations like this, where one particular instrumentations causes trouble.

How would you design the API to disable particular instrumentations?

[2019-03-18 10:39] akoufatzis commented on #125
Hi,

as I see at the moment I only can use `config.tracing.tracing` and/or `config.tracing.disableAutomaticTracing` to disable tracing and instrumentation for frameworks, databases etc under the `instrumentation` folder. This would be the default way, but there could be an option to pass an options object too, that has keys like: postgres, express etc. This would overwrite the previous global flag

[2019-03-18 15:02] basti1302 commented on #125
That sounds about right.

How about:

[code]

So instead of an _object_ with keys I would suggest using an _array of strings_ that lists the instrumentations that should be disabled. Not sure if `blacklist` is really the best name for it.

The keys in that list probably should be the module names in `src/tracing/instrumentation`.

In other news, I think I found the issue that you encountered with

[2019-03-18 15:20] #125 closed

[2019-03-18 15:22] basti1302 commented on #125
The fix has landed in `1.63.0`.

[2019-03-19 12:03] akoufatzis commented on #125
Yes instead of blacklist maybe the name `skipTracing` would be cleaner for this use case. Thank you for the new version. I will use it and check if the issue persists or not.

[2019-03-27 16:29] joshughes opened #132 "Instana blowing up grpc metadata"
We use PubSub and Instana is currently causing issues in our PubSub client by trying to instrument grpc. It seems to inject a ton of metadata and eventually it gets too large and PubSub client can not longer publish.

[code]

[2019-03-27 17:21] mgabeler-lee-6rs commented on #132
(I work w/ Joe)

Enabling `GRPC_TRACE` in our app, we can see that with each `gRPC` request, additional `x-instana-t`, `x-instana-s`, and `x-instana-l` headers are being added.  This appears to continue and grow until the headers get so large that the message is too large and Google sends GOAWAY errors to all requests.

For example, from one trace run, I see 126 instana headers logged for one requ

[2019-03-28 06:36] basti1302 commented on #132
Thanks for the report. I'll publish a fix for this today.

[2019-03-28 10:58] basti1302 commented on #132
@joshughes @mgabeler-lee-6rs I'm trying to reproduce this locally but failing so far. Can you tell which method exactly you are calling to trigger said gRPC request? (I believe you are using https://www.npmjs.com/package/@google-cloud/pubsub?)

A simplified code snippet of the code snippet would be very helpful.

[2019-03-28 13:53] mgabeler-lee-6rs commented on #132
Yes, that is the PubSub client library we are using.  The PubSub calls we make in the application are:

Startup:
[code]

Runtime:
[code]

[2019-03-28 15:20] basti1302 commented on #132
A fix for this (which did not require to reproduce the issue) has been published with version 1.63.1. I still want to analyze this a bit more in detail, so thanks for the code snippet.

[2019-03-28 15:20] #132 closed

[2019-04-10 01:55] geekflyer opened #134 "Report unhandledRejection events"
Please also report unhandledRejection events (i.e. rejected promises)(https://nodejs.org/api/process.html#process_event_unhandledrejection ).

[2019-04-12 10:13] basti1302 commented on #134
Hi,

could you please file this as a feature request via https://support.instana.com/hc/en-us/requests/new ?

Thanks

  Bastian

[2019-04-12 10:13] #134 closed

[2019-04-26 13:59] albertlinga opened #138 "update to @instana/collector broke our application"
previously we are referencing instana-nodejs-sensor. After our CI / CD ran npm install yesterday it errored out saying the package is renamed to @instana/collector. I have updated our application to reference the new package and followed the instructions here. Unfortunately I'm getting errors after the agent is instantiated.

TypeError: Cannot read property 'timeBetweenHealthcheckCalls' of undefin

[2019-04-26 16:59] basti1302 commented on #138
I‘m sorry that this change caused issues. I‘ll look into this immediately. If you need an immediate workaround you could pin the dependency to version 1.64.0 by running `npm install —save instana-nodejs-sensor@1.64.0` in your project.

[2019-04-26 17:44] #138 closed

[2019-04-26 18:00] basti1302 commented on #138
A proper fix for this has been published with version 1.65.1 of @instana/collector, so the workaround I outlined above is no longer necessary. Again, sorry for the trouble this has caused.

[2019-04-29 14:24] basti1302 commented on #134
For the record, this has landed in `@instana/collector@1.66.0`.

[2019-05-06 07:45] BeiNacht opened #140 "Can't handle regex path definitions"
https://github.com/instana/nodejs-sensor/blob/626ab3c8258d4e91d42a61d79603532a921b35b4/packages/core/src/tracing/instrumentation/frameworks/koa.js#L79

We use a regex path definition in the koa router and instana throws an error for every call. So we can't start our service.

[code]

[2019-05-06 09:55] basti1302 commented on #140
Thanks for the report, I'll take a look at this immediately.

[2019-05-06 12:52] #140 closed

[2019-05-06 13:05] basti1302 commented on #140
A fix has landed in version `1.67.1`.

[2019-06-21 22:48] heortizr opened #151 "When I create a new `cls-bluebird` context, it fails when require Bluebird"
I'm getting an error in my app when I create a new `cls-bluebird` context, I made an snippet to reproduce it, this snippet works with `instana-nodejs-sensor@1.64.0`, but when I update to `instana-nodejs-sensor@1.65.0` it fails,

Code:
[code]

Dependencies
[code]

Output
[code]
this trace could help
[code]

I know, I can use `clsBluebird(ns, Promise)` instead of `clsBluebird(ns)`, but, why `require

[2019-06-21 22:53] heortizr commented on #151
I forgot mentioned, but it fails on `instana-nodejs-sensor@1.68.3` too

[2019-06-24 14:41] basti1302 commented on #151
Thanks for reporting. Fixed via #152 and 27663d9.

[2019-06-24 14:41] #151 closed

[2019-06-25 05:17] basti1302 commented on #151
The fix has landed in 1.68.4.

[2019-07-23 09:37] atd-schubert opened #158 "Error while instrumenting kafka-node"
I found an issue with the instana collector and sinek, the highlevel Kafka Client for nodejs.

Sinek depends on node-rdkafka and kafka-node and especially kafka-node causes an error in combination with the instana package.

[code]

After a short research I found out that node-kafka does not provide a `HighLevelConsumer`, but a `HighLevelProducer`. I also can't find any hint in their repository tha

[2019-07-29 08:28] atd-schubert commented on #158
FYI: @basti1302

[2019-07-29 09:18] basti1302 commented on #158
Hi Arne,

I was on vacation but will look into this in the next few days. Thanks for the report.

[2019-07-31 08:57] basti1302 commented on #158
There was, but it has been removed with version 4.0.0, see https://github.com/SOHU-Co/kafka-node/blob/master/CHANGELOG.md#breaking-changes.

I have updated the Kafka instrumentation to work with versions >= 4.0.0 as well as older versions. This will be published with the next release.

[2019-07-31 10:25] #158 closed

[2019-07-31 10:31] basti1302 commented on #158
The fix has landed in release 1.71.0.

[2019-08-05 14:46] zauberpony commented on #158
Hey @basti1302, thank you very much, we deployed with the updated package and it seems to work for us now :)

[2019-08-19 13:03] beep-boop-beep opened #163 "nodejs sensor triggers deprecation warning in Fastify"
There is an issue with the instana nodejs sensor and Fastify:

When the instana-nodejs-sensor is activated and this is executed
https://github.com/instana/nodejs-sensor/blob/4a9e07fbc46db384f312d6139e2d6679423b28ef/packages/core/src/tracing/instrumentation/frameworks/fastify.js#L100

this deprecation warning in Fastify is triggered over and over:

`Warning: basePath is deprecated. Use prefix inste

[2019-08-19 13:22] beep-boop-beep commented on #163
PR: https://github.com/instana/nodejs-sensor/pull/164

[2019-08-20 12:09] basti1302 commented on #163
Closed via #164, efb7063 and fix released in 1.71.2.

[2019-08-20 12:09] #163 closed

[2019-09-03 19:55] chrisjcodes opened #168 "Instana cannot find process"
Trying to add instana to our Node/Express API and we're getting the following log in our Instana Agent using

`require('@instana/collector')();`

Version 1.71.2

[code]

Not sure what is causing this issue, any ideas?

[2019-09-04 16:01] basti1302 commented on #168
Hi @chrisjcodes,

please use https://support.instana.com/hc/en-us/requests/new for inquiries like that. Actually, one of your colleagues already opened a ticket with a log snippet that contains this issue (Ticket #9359).

There I can see the following timeline of events in the log:

[code]

TL;DR: The Instana agent needs to inspect the Docker container the Node.js app is running in to be able to m

[2019-09-04 16:01] #168 closed

[2019-10-02 20:12] Maxpain177 opened #170 "Error: Expected [function execute] to be a GraphQL schema"
Hi.
Thank you for awesome APM solution :)
We are using GraphQL schema stitching and got the error:

[code]

[2019-10-04 09:54] basti1302 commented on #170
Hi @Maxpain177

thanks for reporting, I'll look into this as soon as possible.

[2019-10-11 14:08] basti1302 commented on #170
Hi @Maxpain177

version `@instana/collector@1.73.1` contains a fix for this breakage. You should be able to update to that version and that error should go away.

However, the code path indicates that even though this will no longer run into an error, it might not trace the call correctly. You should see something like

[code]

in your logs, followed by the details of the span that is already acti

[2019-10-11 15:52] Maxpain177 commented on #170
@basti1302 hello.

After upgrade to the last version I get errors in the console:

[code]

I can make a reproduction repo later.

[2019-10-14 06:57] basti1302 commented on #170
Hi @Maxpain177,

that is interesting. If the already-active span is also a GraphQL call, I would expect the root GraphQL call to be visible in Instana but subsequent schema stitching calls to be missing. A reproduction repo would be a great help to improve this.

As far as I know, schema stitching is [deprecated](https://www.apollographql.com/docs/graphql-tools/schema-stitching/). Do you have plan

[2019-10-14 07:02] Maxpain177 commented on #170
@basti1302 we can't use the Federation because it doesn't support subscriptions.

[2019-10-25 07:11] basti1302 commented on #170
I'll close this for now. If you are still missing spans due to this, please file a ticket at https://support.instana.com/hc/en-us/requests/new. If you can include a short reproduction, that would be great.

[2019-10-25 07:11] #170 closed

[2020-04-22 21:35] ana-ya opened #225 "Get rid of bunyan package in dependencies"
Let's replace [bunyan](https://www.npmjs.com/package/bunyan) on something freshly because the last update was 3 years ago. Moreover, it contains packages with vulnerability issues [mimimist](https://www.npmjs.com/advisories/1179).

[2020-04-23 06:57] basti1302 commented on #225
Hey Ana,

thanks for the suggestion. I might be inclined to replace bunyan at some point, but to be honest, it is not high on my priority list.

You can already replace the logger that is actually used via `instana.setLogger`, see  https://docs.instana.io/ecosystem/node-js/api/#setting-the-logger-after-initialization.

As for the vulnerability, this is how the dependency path (including versions)

[2020-04-23 15:28] ana-ya commented on #225
Thank you, Bastian, for your useful response.

Sure I've updated as you mentioned it.

Regarding replacing, firstly we also considered [pino](https://www.npmjs.com/package/pino) as well, but after grooming we have decided to go with [winston](https://www.npmjs.com/package/winston).

[2020-04-24 14:54] basti1302 commented on #225
Hi Anastasia,

I will close this one for now. I might replace Bunyan at some point if I have some free cycles, but it's likely to happen anytime soon, so there is little benefit in keeping this issue open. I'm glad you could solve your dependency/vulnerability issue.

Kind regards

  Bastian

[2020-04-24 14:54] #225 closed

[2020-04-27 10:11] amirilovic-adidas commented on #107
Hi, I see this issue is very old, are there any updates on combining automatic tracing and custom spans in nodejs?
I see docs still suggest that with open tracking automatic tracing should be disabled https://docs.instana.io/ecosystem/node-js/api/#opentracing-integration

Also one suggestion for docs, would be good to explain why to disable automatic tracing and what is result in one or the other

[2020-04-27 14:07] RecuencoJones commented on #107
@amirilovic-adidas looks like that's possible! I have created some example and it's even possible to link custom spans to automatic spans

Information about usage can be found here: https://www.instana.com/blog/instana-announces-support-opentracing/

I think documentation should reflect this use case as it can be really useful!

[2020-04-27 14:56] basti1302 commented on #107
This issue is indeed very old. In the meantime, we have added an SDK to create custom spans: https://docs.instana.io/ecosystem/node-js/api/#creating-spans-manually-with-the-sdk

Custom spans created via the SDK integrate seamlessly with auto-tracing spans. On the other hand, combining auto-tracing spans with OpenTracing is not officially supported.

Thus, if you want to enhance Instana's Node.js a

[2020-04-27 15:31] amirilovic-adidas commented on #107
@RecuencoJones @basti1302  Thanks for the info, will try to add to my app. Cheers!

[2020-06-29 12:16] oszbart opened #241 "Windows: `Pre-built version of AutoProfile is not available (ABI not found), fallback to node-gyp. node-gyp not found.`"
Hello,

I added dependency to `@instana/autoprofile` package inside my app. On Unix/Mac everything seems fine. However on Windows while doing npm install I get following error:
[code]

This prevents people developing on Windows to setup app locally. I checked couple of times that node-gyp works fine on my machine, I am able to build some popular packages using node-gyp (for example: node-sass, bcr

[2020-07-05 13:09] janpio opened #243 "Collector is missing linked CHANGELOG.md"
https://github.com/instana/nodejs-sensor/blob/main/packages/collector/CHANGELOG.md does not exist.

[2020-07-05 15:52] basti1302 commented on #243
https://github.com/instana/nodejs-sensor/blob/main/CHANGELOG.md exists. Does that help?

[2020-07-05 15:53] basti1302 commented on #243
The title says "linked changelog". I wonder which link you refer to. Care to provide a bit more context?

[2020-07-05 15:59] #243 closed

[2020-07-05 16:00] basti1302 commented on #243
Nevermind, found it. I guess you were refering to this: https://github.com/instana/nodejs-sensor/commit/9c0d588b300ad670fde03026323d917f1f843c7c ?

[2020-07-05 16:01] basti1302 commented on #241
Thanks for the report, I'll take a look soon.

[2020-07-05 16:23] janpio commented on #243
Sorry, yes - I forgot to link to the actual source of the problem. I indeed meant the collector README at https://github.com/instana/nodejs-sensor/tree/main/packages/collector

[2020-07-31 12:51] basti1302 commented on #241
Just to clarify, this should not be an issue for using the Instana Node.js collector at all, even on Windows.

First of all:

You actually should not do that, at all. Applications should depend on `@instana/collector` and not directly on `@instana/autoprofile`. Why would you want to depend on the autoprofile package directly?

The package `@instana/collector` in turn declares an optional dependenc

[2020-08-05 17:49] oszbart commented on #241
Thanks for hint, I will check why it was added this way and will get back to you if this would fix our issue.

[2020-08-14 07:39] oszbart commented on #241
@basti1302 I confirm that after removing @instana/autoprofile from package.json everything works fine, thanks for support.

[2020-08-14 07:39] #241 closed

[2020-09-23 19:09] ThisIsMissEm opened #257 "@instana/collector at ^1.106.2 depends on optional dependencies unsafely"
If you install your node modules with:

[code]

Then the resulting installation will not run, as `@instana/collector fails to require the `event-loop-lag` module, which is marked as optional, but in the code, it is required just as `const lag = require('event-loop-lag')(1000);`

This means our production build cannot start if we use the `@instana/collector` package.

[2020-09-23 19:10] ThisIsMissEm commented on #257
Furthermore, you currently depend on `node-gyp` for installs, which results in errors if python is not available on the host system, as is the case in both the `node:lts-slim` and `node:lts-alpine` official docker images.

[2020-09-24 06:22] basti1302 commented on #257
Thanks again for the fix around the faulty `event-loop-lag` module dependency declaration.

Regarding the other aspect you mention: Where exactly did you encounter a hard dependency on `node-gyp`? All dependencies that are native add-ons and might use node-gyp (`@instana/autoprofile`, `event-loop-stats`, `gcstats.js`,  and `netlinkwrapper`) are declared as optional dependencies precisely for the r

[2020-09-24 07:17] basti1302 commented on #257
The event-loop-lag issue has been fixed in version 1.106.3.

[2020-10-08 15:28] deepakthankachan opened #262 "API doesn't list latest lambda layer version"
Using latest lambda layer [v1.103.0](https://www.instana.com/docs/ecosystem/aws-lambda/nodejs/#manually-wrapping-the-handler) gives the following warning:
`WARN Invalid configuration: config.tracing.http.extraHttpHeadersToCapture is not an array, the value will be ignored:`
Is the versions list for lambda layer on your webpage not up to date? Latest Node module version for @instana/aws-lambda does

[2020-10-09 17:15] basti1302 commented on #262
Hi Deepak,

thanks for the report. The info in our documentation was indeed lagging behind. We automatically publish a new Lambda layer everytime we publish a new version of `@instana-aws/lambda`. The latest layers are here:

 | Region           | ARN  | `@instana/aws-lambda` Version |
 | ---------------- | ---- | ----------------------------- |
| `ap-northeast-1` | `arn:aws:lambda:ap-northeast-1:

[2020-10-09 17:15] #262 closed

[2020-10-09 17:17] basti1302 commented on #257
Closing this as the reported error around `--ignore-optional ` has been fixed and I didn't hear back from you about the hard dependency on `node-gyp` (I still think there is none).

[2020-10-09 17:17] #257 closed

[2021-03-06 04:46] gireeshpunathil opened #297 "enable the sensor transparent to the app"
As per the doc, currently the Node.js sensor is enabled by modifying the application thus:

[code]

Node.js provides at least two ways to source the module into the app without modifying the source:

 - `export NODE_OPTIONS='--require "@instana/collector"'` on the invoking shell
https://nodejs.org/dist/latest-v15.x/docs/api/cli.html#cli_node_options_options
 - `node -r @instana/collector <app>`
ht

[2021-03-06 10:42] basti1302 commented on #297
Hi,

we have this covered already. See here:

https://www.instana.com/docs/ecosystem/node-js/installation#installation-without-modifying-the-source-code

We unfortunately cannot change our main export due to backwards compatibility, thus `NODE_OPTIONS='--require "@instana/collector"'` will not work but `NODE_OPTIONS="--require ./node_modules/@instana/collector/src/immediate"` will do what you are

[2021-03-08 02:10] gireeshpunathil commented on #297
@basti1302 - ah, missed that earlier, thanks for the clarification. Yes, that helps!

[2021-03-08 02:10] #297 closed

[2021-03-19 15:08] tcelestino commented on #35
@bripkens will it works when using Instana Collector in AWS Fargate?

I added Instana in my Dockerfile and Instana works, but route path didn't work in dashboard

![Screenshot from 2021-03-19 12-02-03](https://user-images.githubusercontent.com/190265/111800671-f28bd400-88aa-11eb-8b83-26ad6a0c0680.png)
*routes on Instana's dashboard*

If I analyze the calls, the correctly route path is there.

[2021-03-19 16:50] basti1302 commented on #35
Please do not report issues in Github issues that are already closed. Instead, open a ticket either at https://support.instana.com/hc/en-us/requests/new or by sending an e-mail to support@instana.com.

Thanks.

PS: The routes you are showing there have a placeholder (`:apiVersion`) which basically proves that the feature discussed here works. There is no difference with respect to URL/route captur

[2021-03-30 17:40] rtrys opened #312 "Update node-gyp dependency"
Can you help us to update `node-gyp` to latest version to have security updates?

[code]

Current version has a dependency with a vulnerability:
`node-gyp@6.1.0 -> mkdirp@0.5.1 -> minimist@0.0.8`
https://www.sourceclear.com/vulnerability-database/security/prototype-pollution/javascript/sid-22678

[2021-03-30 21:33] basti1302 commented on #312
Yes! -> https://github.com/instana/nodejs-sensor/pull/311/files#diff-3d50435bd3bf001f82e54c4d746b17b897c1825373bdad2a319898aa15328fb6R35

You can expect a release with an updated dependency soon.

[2021-03-31 14:40] basti1302 commented on #312
Fixed with `@instana/collector@1.118.0`.

[2021-03-31 14:40] #312 closed

[2021-03-31 17:29] rtrys commented on #312
awesome, thanks!

[2021-04-07 10:45] michael42 opened #318 "@instana/collector 1.119.0 does not find module '../../../../../core/src/tracing/cls'"
The recently released @instana/collector 1.119.0 does not work for us anymore (1.118.0 did work):

[code]

Apparently `@instana/collector/src/tracing/instrumentation/process/childProcess.js` assumes that `@instana/core` is installed at `../../../../../core` instead of simply letting Node.js resolve it using `@instana/core/[...]`.

[2021-04-07 10:52] willianpc commented on #318
I will take a look. Thanks for the report

[2021-04-07 12:29] daka1510 commented on #318
Thanks for reporting, @michael42. It also broke my application build and I ended up here and was glad I didn't have to troubleshoot it myself.

@willianpc - what countermeasures are taken to make sure that this kind of failures will be noticed before they make it into a future release? Are additional quality gates needed?

As this has shown, many consumers may flow with the latest patch levels and

[2021-04-07 14:12] willianpc commented on #318
Hi @daka1510 , I am unable to give you exactly what particular counter measures will be taken, but obviously something will be done.
My first guess is that at least adding a new test in the pipeline must be done, but extra checks may become necessary.

The patch is out. Could you folks please check if the problem is gone?

[2021-04-08 14:35] michael42 commented on #318
Looks fine on my machine, we'll bump the version in our Docker image soon.

[2021-04-08 15:08] willianpc commented on #318
@michael42 great. Can you keep me posted? I will keep the issue opened a little longer, just to be sure.

~ Cheers

[2021-04-09 11:42] daka1510 commented on #318
Works in our setup, too. Thanks for the quick turnaround @willianpc.

[2021-04-09 19:33] basti1302 commented on #318
Looks like we could add https://github.com/sterlingwes/eslint-plugin-monorepo-cop or something similar to be safe from an oversight like this in the future. We'll look into this soon.

[2021-04-12 08:10] basti1302 commented on #318
For the record: We added the aformentioned rule here: https://github.com/instana/nodejs-sensor/commit/f57c3b8c32dac11c5b1c574c544435510dc7186b.

I'm going ahead and close this one, since it is fixed.

[2021-04-12 08:10] #318 closed

[2021-04-20 17:15] rtrys opened #325 "Update to `node-gyp@8.0.0`"
hi, [node-gyp@8.0.0](https://github.com/nodejs/node-gyp/blob/master/CHANGELOG.md#v800-2021-04-03) is released and here is replacing deprecated [request](https://github.com/request/request), would be nice to have an update for this module in instana packages, I hope you can consider this update

[2021-04-21 04:45] basti1302 commented on #325
As I said in #313

We update dependencies periodically after evaluating if the upgrade is feasible, keeping in mind all usage scenarios of `@instana/collector`. The same will happen with node-gyp, that is, we will move to version 8 eventually.

I don't think it is particularly helpful to keeping an issue for one particular dependency open, potentially for a longer time so I am going ahead and clos

[2021-04-21 04:45] #325 closed

[2021-04-22 15:06] chatko opened #327 "Automatically mask basic-auth url credentials"
In the context of a node runtime, some application dependencies that are using a legacy basic-auth in the URL may get exposed in (plain-text) within an account.

For example, a call such as:
`https://username:password@some.domain.com/api/health `

May expose the `username:password`.  We'd like a regex to detect this well known pattern and mask the sensitive information in the agent. This is alread

[2021-04-23 17:34] rtrys commented on #325
Hi @basti1302, thanks for your comments, I hope you can help me to have a better understanding,

[code]

the reason I requested an updated, is because request@2.88.2 has a few [security issues](https://sca.analysiscenter.veracode.com/vulnerability-database/libraries/request/JS/NPM/lid-675/versions/2.88.2), and since it will require more than a simple update to have latest version, I would like to

[2021-04-23 19:19] basti1302 commented on #325
Hey, sure.

node-gyp is used to compile native add-ons (npm modules that contain C++ code in addition to pure Javascript). As such, it will _only_ become active during `npm install`, not while you actually run your application. It depends on request because it tries to download precompiled binaries for the target operating system instead of actually compiling the C++ code during `npm install`,  if

[2021-04-23 20:01] rtrys commented on #325
thanks, I really appreciated your quick answer

[2021-04-23 20:52] RobertTheBlair commented on #325
Thanks Bastian. I believe we will be able to mitigate tool-chain risks here by ensuring our build systems only pull from authorized locations.
Toolchain attacks have been increasing in cleverness, and we want to be very certain about what bits we ship.

[2021-06-09 17:49] #327 closed

[2021-06-10 05:34] basti1302 commented on #327
@chatko This has landed in version 1.125.0.

[2021-07-20 13:32] Stopy opened #365 "Warning and errrors while building angular ssr app"
**Environment**
CentOS Linux release 7.8.2003 (Core)
node.js v12.11.1
yarn v1.22.5

**Dependencies:**
"@angular/core": "~9.1.7",
"express": "^4.15.2",
"@nguniversal/express-engine": "^9.1.0",
"@instana/collector": "^1.129.0"

**Problem:**
After adding Instana, as shown below, build ends with warnings, errors. So build doesn't work.

[code]

**End of the build log:**
[code]

[2021-07-21 10:10] willianpc commented on #365
Hi @Stopy thanks for reporting this issue.
Based on my initial investigation, this seems to be related to the way the Webpack works.
It seems not to like dynamic imports, eg: `this.addon = require(addonPath);` extracted from `WARNING in ./node_modules/@instana/autoprofile/lib/auto_profiler.js 91:19-37`.

I took a quick look at this post where they discuss about a similar issue: https://stackoverfl

[2021-07-22 11:37] willianpc commented on #365
Hi @Stopy ,

After some more investigation and some chat with one of the collaborators of Webpack, the recommendation would be to keep `node_modules` out of your bundle.
This will of course require you to add the production dependencies of your application in a package.json in the same directory as your - already bundled - project.

Basically, our API relies on native modules that are compiled thr

[2021-07-22 14:51] Stopy commented on #365
Hi @willianpc,
Thanks for your time.
I haven't got what you mean when you say "keep node_modules out of your bundle". We are using Angular, so we don't have a possibility to deeply change webpack config. Also our back and front code are connected to each other quite hard, cuz of SSR and so on.

[2021-07-23 06:52] willianpc commented on #365
Hi @Stopy ,
I understand.

Have you had a chance to check the discussion I had with the collaborator of Webpack? I think you can find all the details you are looking for in there.
But the important bit to clarify your question is this:

1. Bundle the application without node_modules dependencies by using node-externals. This prevents Webpack from bundling them and keep a proper require('module') i

[2021-08-03 12:13] willianpc commented on #365
Hi @Stopy ,
I will close this issue as we explored all possible current solutions around bundling application with the Instana tracer.
Just as a last source of information, we have a documentation about this very same topic and directions on how to deal with the bundling, which is pretty much what we already discussed. But for a more formal explanation, please refer to : https://www.instana.com/do

[2021-08-03 12:13] #365 closed

[2021-08-03 12:13] basti1302 commented on #365
Please also see our documentation here: https://www.instana.com/docs/ecosystem/node-js/installation#bundlers-webpack-and-similar

Key points:

and

[2021-08-03 12:14] basti1302 commented on #365
Oof, Willian beat me by a few seconds :D

[2021-08-04 22:49] Stopy commented on #365
Thanks you guys so much, works great. I just needed to not edit my source code and follow these steps https://github.com/instana/nodejs/issues/365#issuecomment-891797356

[2021-08-12 05:08] IdanAdar opened #369 "vulnerability in tar package"
Source: https://snyk.io/vuln/SNYK-JS-TAR-1536758

[code]

[2021-08-12 05:12] #369 closed

[2021-10-08 15:49] sylarwang opened #401 "[Bug]: vulnerabilities in the dependencies"
### Problem Description

https://github.com/advisories/GHSA-93q8-gq69-wqmw
Package: ansi-regex
Dependency of: @instana/collector
Path: @instana/collector > @instana/autoprofile > node-gyp > npmlog > gauge > wide-align > string-width > strip-ansi >    ansi-regex

### Short, Self Contained Example

_No response_

### Node.js Version

v14.16.1

### package.json

[code]

### package-lock.json

[code]

[2021-10-09 10:20] basti1302 commented on #401
Thanks for the report.

See https://github.com/instana/nodejs/pull/400. This particular dependency is removed in commit https://github.com/instana/nodejs/pull/400/commits/0427eed46353d3ac43d7f3ae8181997e6661ff47. A new package version without that dependency will be released soon.

Please also take a look at the explanation in the commit comment of https://github.com/instana/nodejs/pull/400/commit

[2021-10-09 10:20] #401 closed

[2021-10-28 23:33] jonathansamines opened #410 "[Bug]: Instana instrumentation fails in applications using bull repeatable jobs"
### Problem Description

When the instana collector is loaded in an application using bull repeatable jobs, then the instrumentation fails and makes the application fail with the following error:

[code]

I looked a bit into this issue and seems to be caused by the fact that the `job` argument is optional for the [Queue.prototype.processJob](https://github.com/OptimalBits/bull/blob/8968e7227d1b321

[2021-11-03 09:04] willianpc commented on #410
PR with the fix: https://github.com/instana/nodejs/pull/412

[2021-11-11 09:57] willianpc commented on #410
I am closing the issue as the problem is resolved.
Feel free to reopen it if the problem persists.

- Willian

[2021-11-11 09:57] #410 closed

[2021-12-02 16:02] jonathansamines commented on #410
Hey @willianpc, sorry for the late response. I can confirm that as of 1.137.0, instrumentation works properly for bull repeatable jobs.

[2021-12-13 22:35] jonathansamines opened #438 "[Bug]: Instana context loss when cls-hooked is also used"
### Problem Description

When the @instana/collector is loaded into a Node.js application, but that application also uses [cls-hooked](https://github.com/Jeff-Lewis/cls-hooked) to propagate and preserve it's own context, then they both seem to conflict and only one context is propagated, furthermore
upon closer inspection, this problem only seems to happen when:

- The request contains a payload
-

[2021-12-15 13:41] basti1302 commented on #438
Hey Jonathan,

thanks a ton for this excellent report and the reproducer. ❤️   This made it really easy to troubleshoot the problem.

A [fix](https://github.com/instana/nodejs/pull/439) is underway and expected to be released later this week. We will keep you posted.

Note that this is actually a bug in `cls-context`, and in an ideal world, it would be fixed there. But since that package is appare

[2021-12-15 20:46] jonathansamines commented on #438
Thanks for the quick response and remediation @basti1302.

Absolutely, can't wait to replace our own usage of `cls-hooked` with AsyncLocalStorage as soon as we are able to. But also glad to hear that Instana was able to provide a fix for the time being!

[2021-12-16 14:09] #438 closed

[2021-12-16 17:20] basti1302 commented on #438
@jonathansamines the fix has landed in release 1.137.3.

[2021-12-21 15:58] jonathansamines commented on #438
Many thanks @basti1302. I verified locally and everything works now. Will take us some time to upgrade our systems but hopefully this will fix our context loss issues.

[2022-03-09 23:17] jonathansamines opened #500 "[Bug]: Incorrect process identification when pino v7+ transports are used"
### Problem Description

When the `@instana/collector` is loaded into a Node.js application, but that application also uses pino v7+ [transports](https://getpino.io/#/docs/transports), then the Node.js process is sometimes identified as `thread-stream` instead of using the actual application name. The reproduction also includes a scenario where the same transport is used as a pino [destination](ht

[2022-03-10 09:58] kirrg001 commented on #500
Hi there!

Thanks for providing the reproduction repository :)

I cannot reproduce the problem you are running into 🤔

In your example you are using [`logger.info`](https://github.com/jonathansamines/instana-pino-transport/blob/main/index.js#L18).

Instana collector does not trace info logs, only warn, error or fatal level.

If you change this line to `logger.warn` or `logger.error` it should repo

[2022-03-10 16:05] jonathansamines commented on #500
Yeah, logging collection seems to be working fine, it at the process identification where I am running into the problem described, but again I cannot reliably reproduce it either.

Thanks for checking.

[2022-03-16 17:36] jonathansamines commented on #500
Thank you.

[2022-03-29 13:42] basti1302 commented on #500
We were now able to reproduce this. This only happens when the process is instrumented via `NODE_OPTIONS="--require @instana/collector/src/immediate` or via the Kubernetes autotrace webhook (which uses the same mechanism behind the scenes). Worker threads inherit the env, including NODE_OPTIONS which introduced some unexpected behavior, including the symptoms around changing the name you noticed.

[2022-03-29 16:48] jonathansamines commented on #500
Awesome, thank you.

[2022-04-01 07:22] #500 closed

[2022-04-01 08:52] kirrg001 commented on #500
The fix got merged and will be released next week 👍

[2022-05-20 17:29] jonathansamines opened #548 "[Bug]: Incorrect status code on aborted requests"
### Problem Description

When the client aborts a request before the server has been able to respond,
the Instana span will always record the span as having finalized with an http status code of 200.

### Short, Self Contained Example

See reproduction example [here](https://github.com/jonathansamines/instana-aborted-requests)

### Node.js Version

-

### package.json

[code]

### package-lock.jso

[2022-05-23 06:09] basti1302 commented on #548
Hey Jonathan,

thanks for the report and the excellent reproducer/analysis. We will publish a fix today or later this week.

[2022-05-24 05:55] basti1302 commented on #548
The fix has landed in release 2.3.0.

[2022-05-24 15:57] jonathansamines commented on #548
Thanks for such a fast resolution, will give it a try

[2022-06-20 14:45] sorgloomer opened #561 "[Bug]: Cascading parallel spans not showing as expected"
### Problem Description

Good day!

We are working on a NodeJS application where it is a common pattern to run async processes in parallel, sometimes in a fire-and-forget manner. I started to instrument these parallel processes with Instana's custom intermediate spans, and in 90% of the cases it is working perfectly and is proving to be a valuable tool, but we have a problem in the remaining 10%.

[2022-06-21 08:38] kirrg001 commented on #561
Thanks for providing so much details. We will take a look 🦖

[2022-06-21 08:43] kirrg001 commented on #561
Before I dig into this, could you please update to the latest collector version 2.4.0? I would like to ensure that this problem wasn't already solved. Thanks 👏

[2022-06-21 11:38] sorgloomer commented on #561
Thank you for the quick response! It was a huge oversight on my part to use the old package.

It seems the new package still produces the same outputs for this scenario, I am updating the versions in the description

[2022-06-21 12:33] kirrg001 commented on #561
The second span (`Custom parallel span 2`) get's closed too early, because `instana.sdk.async.completeIntermediateSpan();` is looking for the **current active span** (which is the second span, because it got created after the first one). That's why the second span has a wrong duration. I'll come back and report what we can do against this :)

[2022-06-21 12:53] kirrg001 commented on #561
We will extend our SDK. Will inform you when we have shipped the fix :)

[2022-06-27 08:27] sorgloomer commented on #561
Thank you so much!

[2022-07-25 08:58] michael42 opened #581 "[Bug]: @instana/collector doesn't find the main package.json when the entry point is an ECMAScript Module"
### Problem Description

We're currently switching a microservice to ECMAScript Modules and noticed, that Instana can't find the main `package.json` anymore.

It logs:
[code]

### Short, Self Contained Example

`register-instana.cjs`:
[code]

`index.js`:
[code]

Then run `node --require register-instana.cjs index.js`.

### Node.js Version

v16.16.0

### package.json

[code]

### package-lock.json

[2022-07-25 09:04] michael42 commented on #581
While debugging the issue, we noticed that Instana tries to read the deprecated [`process.mainModule`](https://nodejs.org/api/process.html#processmainmodule), which apparently is [not set for ECMAScript entry points](https://nodejs.org/api/modules.html#accessing-the-main-module).

As a workaround, we're now setting `process.mainModule` ourselves (based in `import.meta.url`).

[2022-08-09 14:30] kirrg001 commented on #581
Hey 🤙 Sorry for the late response and thanks for debugging. Good finding 👍 We will take care and ship a fix asap

[2022-08-17 11:31] kirrg001 commented on #581
We have released 2.6.2, which contains a fix.

[2022-08-17 11:31] #581 closed

[2022-08-17 19:09] spamalot22 opened #596 "[Bug]: Error when using Lambda Arm64 architecture with Instana Extension"
### Problem Description

When setting our lambda architecture to the new "Arm64" architecture, the extension fails to initialise with an unknown error:

`EXTENSION	Name: instana-lambda-extension	State: LaunchError	Events: []	Error Type: UnknownError`

Switching back to the default "x86_64" architecture resolves the issue.
Due to the reduced costs and AWS's intention to eventually make Arm64 the de

[2022-08-18 12:11] kirrg001 commented on #596
Hi! Thanks for the report.

I can confirm that arm64 is not supported yet. We will update this issue as soon as possible.

[2022-08-31 13:30] kirrg001 commented on #596
Hi there!

We have released the layer for arm64, but we have not released the docs yet. We will let you know as soon as the docs go live.

In the meanwhile you can use the layer version below and replace your region:

`arn:aws:lambda:{REGION}:410797082306:layer:instana-nodejs-arm64:1`

[2022-08-31 13:30] #596 closed

[2022-08-31 20:50] spamalot22 commented on #596
Many thanks for the quick turnaround on this! We will give it a try ASAP.

[2022-09-09 12:46] kirrg001 commented on #596
https://www.ibm.com/docs/en/instana-observability/current?topic=kinesis-aws-lambda-native-tracing-nodejs
Docs are live now 👍

[2022-09-16 19:30] weslleyshavo opened #614 "[Bug]: Failed to sanitize DB2 connection string"
### Problem Description

The sanitizeConnectionStr function regex doesn't match a connection string where PWD is the last parameter included and does not contain the semicolon. Package: tracingUtil.js
This causes string sanitize not to work.

### Short, Self Contained Example

Connection string: "DATABASE=MY_DATABASE;HOSTNAME=localhost;PORT=50000;PROTOCOL=TCPIP;UID=my_user;PWD=123456"

In this cas

[2022-09-19 05:10] basti1302 commented on #614
Hey Weslley,

thanks for the detailed report. We'll take a look at this.

[2022-09-19 09:25] #614 closed

[2022-09-19 13:40] basti1302 commented on #614
A fix will be released with the next release (probably tomorrow).

[2022-09-20 06:47] basti1302 commented on #614
The fix has landed in version 2.8.0.

[2022-10-06 19:56] spraguejdev opened #634 "[Bug]: minimatch.js needs to be updated to >3.0.4"
### Problem Description

I'm using @instana/collector@2.10.0

minimatch minimatch.js braceExpand() Function Improper Regular Expression DoS. mini match contains a flaw in the braceExpand() function in minimatch.js that is triggered as an improper regular expression is used to match patterns for brace expansion. This may allow a context-dependent attacker to hang or slow down a Node process using t

[2022-10-07 08:35] kirrg001 commented on #634
Hi there!

We are not using minimatch <= 3.0.4 in production mode.

    mkdir instana-installation
    cd instana-installation
    npm init
    npm i @instana/collector@latest
    npm ls minimatch

[code]

I am wondering if your problem is caused by a different package in your dependency tree?
Alternatively it is worth checking if your subdependencies are on the latest. You can use [npm update](ht

[2022-10-11 07:58] basti1302 commented on #634
Closing this. It is a low severity CVE in a version of a package that we do not even use in our production code. Please refrain from creating issues like this in the future, thanks.

[2022-10-11 07:58] #634 closed

[2022-10-28 09:54] deepakthankachan opened #644 "[Bug]: Trace and Span ID missing when using @instana/collector"
### Problem Description

Hi,

We were previously using the "@instana/aws-lambda" node module with manual SDK wrapping and recently switched to this layer "arn:aws:lambda:eu-west-2:410797082306:layer:instana-nodejs:120". Before the change, I could use "@instana/aws-lambda" module to get hold of the span and trace ID like so:

[code]

After the switch to layer, I am now using "@instana/collector" li

[2022-10-28 10:02] deepakthankachan commented on #644
I think this was me being a numpty. I should be using "@instana/aws-lambda" instead of "@instana/collector". Closing this

[2022-10-28 12:52] basti1302 commented on #644
Correct: Your code should still be using @instana/aws-lambda, even with the layer.  `@instana/collector` is for Node.js apps that run on a host or in a container on a host, not for Lambdas. 👍

[2022-10-28 13:30] deepakthankachan commented on #644
@basti1302 Hi, just switched to '@instana/aws-lambda' while using the layer. Do I need to wrap the handler will instana.wrap as the trade and span id are still null even with '@instana/aws-lambda'? thanks

[2022-10-28 13:44] #644 closed

[2022-11-15 10:31] rene-leanix commented on #21
@basti1302, any chance that [TypeScript type annotations could be added](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#including-declarations-in-your-npm-package) to this project? This would help a lot when using the agent, both from within TypeScript projects, but also from JavaScript-projects that have type-checking enabled.

[2022-11-15 12:05] basti1302 commented on #21
Hi Rene, this would be a feature request. Please do not use Github issues for feature request (let alone old closed issues). Instead, please file these at https://automation-management.ideas.ibm.com/?project=INSTANA.

Actually, there is already a request for typescript definitions, so you can add your vote for this here: https://automation-management.ideas.ibm.com/ideas/INSTANA-I-300

Kind regards